@model CommentViewModel

    <div>
        <form method="POST" asp-controller="Comment" asp-action="Comment">
            <input asp-for="PostId" type="hidden">
            <input asp-for="MainCommentId" type="hidden">
            <input asp-for="CommentContent">
            <button type="submit">Comment.</button>
        </form>
    </div>