@model Post



<div class="row justify-content-center mt-5 text-white">
    <div class="post-form-wrapper">
        <section>

            <form asp-action="AddPost" class="loginForm p-3" method="post">
                <h3 class="text-center">Create post.</h3>
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Subject"></label>
                    <input asp-for="Subject" class="form-control" />
                    <span asp-validation-for="Subject" class="text-danger"></span>
                </div>
                <div class="form-group text-dark">
                    <label class="text-white" asp-for="Value"></label>
                    <textarea id="editor" asp-for="Value" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Value" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-dark">Submit post.</button>
                </div>

            </form>
        </section>
    </div>
</div>
