@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
<div style="background:rgba(0, 0, 0, 0.65)" class="container text-white mt-2 mb-2 p-3">

    <header>
        <h2>@ViewData["Title"]</h2>
        <p>You have successfully logged out of the application.</p>
        <p>Proceed to <a href="/.">Bloggo home page.</a></p>
    </header>

</div>
